package ${package.Entity}.vo.request;

import com.antiy.common.base.BasicRequest;
import io.swagger.annotations.ApiModelProperty;
import com.antiy.common.validation.ObjectValidator;
import com.antiy.common.exception.RequestParamValidateException;
/**
 * <p>
 * ${entity}Request 请求对象
 * </p>
 *
 * @author wh
 * @since 2018-12-27
 */

public class ${entity}Request   {

## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if(${field.keyFlag})
#set($keyPropertyName=${field.propertyName})
#end
#if(${field.name} == 'id')
#else
#if("$!field.comment" != "")
    /**
     *  ${field.comment}
     */
#end
    @ApiModelProperty("${field.comment}")
    private ${field.propertyType} ${field.propertyName};
#end
#end
## ----------  END 字段循环遍历  ----------

    #if(!${entityLombokModel})
    #foreach($field in ${table.fields})
    #if(${field.name} == 'id')
    #else
    #if(${field.propertyType.equals("boolean")})
    #set($getprefix="is")
    #else
    #set($getprefix="get")
    #end

    public ${field.propertyType} ${getprefix}${field.capitalName}() {
    return ${field.propertyName};
    }

    #if(${entityBuilderModel})
    public ${entity} set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #else
public void set${field.capitalName}(${field.propertyType} ${field.propertyName}) {
    #end
    this.${field.propertyName} = ${field.propertyName};
    #if(${entityBuilderModel})
    return this;
    #end
    }
    #end

    #end
    #end

    @Override
    public void validate() throws RequestParamValidateException {

    }

}