package ${package.Service};

import  com.bysk.common.IBaseService;
import com.bysj.common.PageResult;
import java.io.Serializable;
import java.util.List;

import ${package.Entity}.dto.${entity}DTO;
import ${package.Entity}.vo.query.${entity}Query;
import ${package.Entity}.vo.request.${entity}Request;
import ${package.Entity}.vo.response.${entity}Response;
import ${package.Entity}.${entity};


/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends IBaseService<${entity}> {

        /**
         * 保存
         * @param request
         * @return
         */
        Integer save${entity}(${entity}Request request) throws Exception;

        /**
         * 修改
         * @param request
         * @return
         */
        Integer update${entity}(${entity}Request request) throws Exception;

        /**
         * 查询对象集合
         * @param query
         * @return
         */
        List<${entity}Response> findList${entity}(${entity}Query query) throws Exception;

        /**
         * 批量查询
         * @param query
         * @return
         */
        PageResult<${entity}Response> findPage${entity}(${entity}Query query) throws Exception;

}
