<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US"> <!--<![endif]-->
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Knowledge Base Theme</title>

    <link rel="shortcut icon" href="/images/favicon.png"/>

    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <![endif]-->


    <!-- Style Sheet-->
    <!--<link rel="stylesheet" href="style.css"/>-->
    <link rel='stylesheet' id='bootstrap-css-css' href='/css/bootstrap5152.css?ver=1.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='responsive-css-css' href='/css/responsive5152.css?ver=1.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='pretty-photo-css-css' href='/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='main-css-css' href='/css/main5152.css?ver=1.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='custom-css-css' href='/css/custom5152.html?ver=1.0' type='text/css' media='all'/>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/js/html5.js"></script></script>
    <![endif]-->
    <style type="text/css">
        .butclass {
            background-color: #0d90d1;
            display: inline-block;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            font: 14px/100% Arial, Helvetica, sans-serif;
            padding: .5em 2em .55em;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
            -webkit-border-radius: .5em;
            -moz-border-radius: .5em;
            border-radius: .5em;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        }

        .butclass:hover {
            text-decoration: none;
        }

        .butclass:active {
            position: relative;
            top: 1px;
        }
    </style>
    <script src="/js/jquery-3.3.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#applyPlate").click(function () {
                var judge = prompt("请输入申请理由");
                if (judge) {
                    $.ajax({
                        type: "POST",
                        url: "/applyplate/save/single",
                        data: JSON.stringify({
                            info: judge,
                            plateId:$(this).prev().val()
                        }),
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (message) {
                            alert(message);
                        }
                    })
                } else if (judge === "") {
                    alert("请输入申请理由！");
                }
            })

        })
    </script>
</head>

<body>

<!-- Start of Header -->
<div class="header-wrapper">
    <header>
        <div class="container">


            <div class="logo-container">
                <!-- Website Logo -->
                <a href="/post/index" title="Knowledge Base Theme">
                    <img src="/images/logo.png" alt="Knowledge Base Theme">
                </a>
                <span class="tag-line">Premium WordPress Theme</span>
            </div>


            <!-- Start of Main Navigation -->
            <nav class="main-nav">
                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="clearfix">
                        <li><a href="/post/index">首页</a></li>
                        <li><a href="/home-categories-description">关注</a></li>
                        <li><a href="/post/query/good">推荐</a></li>
                        <li><a href="/post/query/list">最新</a></li>
                        <li class="current-menu-item"><a href="/post/plate/list">板块</a></li>
                        <li><a href="/faq">常见问题</a></li>
                        <li><a href="/contact">联系我们</a></li>
                        <shiro:guest>
                            <li><a href="/login">登录 注册</a></li>
                        </shiro:guest>
                        <shiro:user>
                            <li>欢迎您：
                                <a href="/user">
                                    <shiro:principal property="email"></shiro:principal>
                                </a>&emsp;
                            </li>
                            <a href="/logout" style="color: white">注销</a></shiro:user>
                    </ul>
                </div>
            </nav>
            <!-- End of Main Navigation -->

        </div>
    </header>
</div>
<!-- End of Header -->

<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span8 main-listing">
                <!--<h2 style="color: red">${errorInfo}</h2>-->
                <!--<c:forEach items="${postAndPlates}" var="postAndPlate">-->
                <input th:value="${plateId}" type="hidden">
                <span  th:if="${plateOwnerName.nickname ne null}">
                    <h2 th:text="'板块名称:' + ${plateOwnerName.plateName}"></h2>
                    <h2 th:text="'版主:' + ${plateOwnerName.nickname}"/>
                </span>
                <shiro:authenticated><a style="font-size: 26px;" th:if="${plateOwnerName.nickname eq null}" href="javascript:void(0)" id="applyPlate" >申请版主</a></shiro:authenticated>
                <article class="format-standard type-post hentry clearfix" th:each="post,postStat:${postList}">
                    <header class="clearfix">

                        <h3 class="post-title">
                            <a th:href="'/post/detail?postId=' + ${post.id}" th:text="${post.title}"></a>
                            <span th:if="${post.articleType == 1}">
                                <span class="badge badge-default" th:text="${post.articleTypeStr}"></span>
                            </span>
                            <span th:if="${post.articleType == 2}">
                                <span class="badge badge-default" th:text="${post.articleTypeStr} + '(' + ${post.needMoney} + '分)'"></span>
                            </span>
                            <span th:if="${post.articleType == 3}">
                                <span class="badge badge-default" th:text="${post.articleTypeStr} + '(' + ${post.needMoney} + '分)'"></span>
                            </span>
                            <span style="color: red;font-size: 18px;" th:if="${post.ifGood} eq 1">[推荐]</span>
                        </h3>

                        <div class="post-meta clearfix">
                            <span class="date" th:text="${post.gmtCreateStr}"></span>
                            <span class="category" th:text="${post.plateName}"></span>
                            <span class="comments" th:text="${post.replyCount}"></span>
                            <span class="like-count" th:text="${post.thumbupCount}"></span>
                            <shiro:hasPermission name="post:delete">
                                <a href="/deletePost?postId=${postAndPlate.id}&pageNum=${page.pageNum}"
                                   style="color: red">删除</a>
                            </shiro:hasPermission>


                            <shiro:hasPermission name="post:good">
                                <span th:if="${post.ifGood eq 1}" style="color: green;float: right"><b>已推荐</b></span>
                                <a style="color:green; float:right"
                                   th:if="${post.ifGood eq 0}"
                                   href="/takeGoodPost?postId=${postAndPlate.id}&pageNum=${page.pageNum}"><b>推荐</b></a>
                            </shiro:hasPermission>
                        </div><!-- end of post meta -->

                    </header>

                    <a class="readmore-link" th:href="'/post/detail?postId=' + ${post.id}"><p
                            style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;"
                            th:text="${post.info}">
                    </p><span style="color: darkblue;float: right">Read more</span></a>
                </article>
                <hr style="color: red">
                <!--</c:forEach>-->
                <div id="pagination">
                    <span style="font-size: 16px ; font-family: 'Javanese Text'; float:left"
                          th:text="'共有' + ${totalPage} + '页，当前第' + ${currentPage} + '页'"></span> <span style="float: right;font-family: 'Javanese Text';font-size: 16px ; " th:text="'共有' + ${totalRecords} + '条数据'"></span> <br>
                    <a th:href="'/post/plate/list?currentPage=1&plateId=' + ${plateId}" class="btn">« 第一页</a>
                    <span th:if="${currentPage == 1}">
                        <a th:href="'/post/plate/list?currentPage=1&plateId=' + ${plateId}" class="btn">« 上一页</a>
                    </span>
                    <span th:if="${currentPage > 1}">
                        <a th:href="'/post/plate/list?currentPage=' + ${currentPage - 1} + '&plateId=' + ${plateId}" class="btn">« 上一页</a>
                    </span>
                    <a th:if="${totalPage} <= 9">
                        <span th:each="i:${#numbers.sequence(1, totalPage)}">
                            <a th:href="'/post/plate/list?currentPage=' + ${i} + '&plateId=' + ${plateId}" class="btn" th:text="${i}"/>
                        </span>
                    </a>
                    <a th:if="${totalPage} > 9">
                        <span th:each="i:${#numbers.sequence(1, 9)}">
                            <a th:href="'/post/plate/list?currentPage=' + ${i} + '&plateId=' + ${plateId}" class="btn" th:text="${i}"/>
                        </span>
                        <a class="btn" th:text=".."></a>
                    </a>
                    <span th:if="${currentPage} == ${totalPage}">
                        <a th:href="'/post/plate/list?currentPage=' + ${currentPage} + '&plateId=' + ${plateId}" class="btn">下一页 »</a>
                    </span>
                    <span th:if="${currentPage} != ${totalPage}">
                        <a th:href="'/post/plate/list?currentPage=' + ${currentPage + 1} + '&plateId=' + ${plateId}" class="btn">下一页 »</a>
                    </span>
                    <a th:href="'/post/plate/list?currentPage=' + ${totalPage} + '&plateId=' + ${plateId}" class="btn">最后一页 »</a>
                </div>

            </div>
            <!-- end of page content -->


            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">

                <section class="widget">
                    <div class="support-widget">
                        <h3 class="title">发帖分享</h3>
                        <p class="intro">最近有什么令你自己激动的发现或令你烦恼的bug吗？分享出来你的想法吧！</p>
                        <a href="/getPostPage"><input type="button" class="butclass" value="发帖"></a>

                    </div>
                </section>


                <section class="widget">
                    <h3 class="title">Featured Articles</h3>
                    <ul class="articles">
                        <li class="article-entry standard">
                            <h4><a href="/single">Integrating WordPress with Your Website</a></h4>
                            <span class="article-meta">25 Feb, 2013 in <a href="#"
                                                                          title="View all posts in Server &amp; Database">Server &amp; Database</a></span>
                            <span class="like-count">66</span>
                        </li>
                        <li class="article-entry standard">
                            <h4><a href="/single">WordPress Site Maintenance</a></h4>
                            <span class="article-meta">24 Feb, 2013 in <a href="#"
                                                                          title="View all posts in Website Dev">Website Dev</a></span>
                            <span class="like-count">15</span>
                        </li>
                        <li class="article-entry video">
                            <h4><a href="/single">Meta Tags in WordPress</a></h4>
                            <span class="article-meta">23 Feb, 2013 in <a href="#"
                                                                          title="View all posts in Website Dev">Website Dev</a></span>
                            <span class="like-count">8</span>
                        </li>
                        <li class="article-entry image">
                            <h4><a href="/single">WordPress in Your Language</a></h4>
                            <span class="article-meta">22 Feb, 2013 in <a href="#"
                                                                          title="View all posts in Advanced Techniques">Advanced Techniques</a></span>
                            <span class="like-count">6</span>
                        </li>
                    </ul>
                </section>


                <section class="widget"><h3 class="title">Categories</h3>
                    <ul>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Advanced Techniques</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Designing in WordPress</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Server &amp; Database</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet, ">Theme Development</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Website Dev</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">WordPress for Beginners</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet, ">WordPress Plugins</a></li>
                    </ul>
                </section>

                <section class="widget">
                    <h3 class="title">Recent Comments</h3>
                    <ul id="recentcomments">
                        <li class="recentcomments"><a href="#" rel="external nofollow" class="url">John Doe</a> on <a
                                href="#">Integrating WordPress with Your Website</a></li>
                        <li class="recentcomments">saqib sarwar on <a href="#">Integrating WordPress with Your
                            Website</a></li>
                        <li class="recentcomments"><a href="#" rel="external nofollow" class="url">John Doe</a> on <a
                                href="#">Integrating WordPress with Your Website</a></li>
                        <li class="recentcomments"><a href="#" rel="external nofollow" class="url">Mr WordPress</a> on
                            <a href="#">Installing WordPress</a></li>
                    </ul>
                </section>

            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->

<!-- Start of Footer -->
<footer id="footer-wrapper">
    <div id="footer" class="container">
        <div class="row">

            <div class="span3">
                <section class="widget">
                    <h3 class="title">How it works</h3>
                    <div class="textwidget">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                            ut aliquip ex ea commodo consequat. </p>
                    </div>
                </section>
            </div>

            <div class="span3">
                <section class="widget"><h3 class="title">Categories</h3>
                    <ul>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Advanced Techniques</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Designing in WordPress</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Server &amp; Database</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet, ">Theme Development</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Website Dev</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">WordPress for Beginners</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet, ">WordPress Plugins</a></li>
                    </ul>
                </section>
            </div>

            <div class="span3">
                <section class="widget">
                    <h3 class="title">Latest Tweets</h3>
                    <div id="twitter_update_list">
                        <ul>
                            <li>No Tweets loaded !</li>
                        </ul>
                    </div>
                </section>
            </div>

            <div class="span3">
                <section class="widget">
                    <h3 class="title">Flickr Photos</h3>
                    <div class="flickr-photos" id="basicuse">
                    </div>
                </section>
            </div>

        </div>
    </div>
    <!-- end of #footer -->

    <!-- Footer Bottom -->
    <div id="footer-bottom-wrapper">
        <div id="footer-bottom" class="container">
            <div class="row">
                <div class="span6">
                    <!-- Social Navigation -->
                    <ul class="social-nav clearfix">
                        <li class="linkedin"><a target="_blank" href="#"></a></li>
                        <li class="stumble"><a target="_blank" href="#"></a></li>
                        <li class="google"><a target="_blank" href="#"></a></li>
                        <li class="deviantart"><a target="_blank" href="#"></a></li>
                        <li class="flickr"><a target="_blank" href="#"></a></li>
                        <li class="skype"><a target="_blank" href="skype:#?call"></a></li>
                        <li class="rss"><a target="_blank" href="#"></a></li>
                        <li class="twitter"><a target="_blank" href="#"></a></li>
                        <li class="facebook"><a target="_blank" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Footer Bottom -->

</footer>
<!-- End of Footer -->

<a href="#top" id="scroll-top"></a>

<!-- script -->
<%--
<script type='text/javascript' src='/js/jquery-1.8.3.min.js'></script>
--%>
<script type='text/javascript' src='/js/jquery.easing.1.34e44.js?ver=1.3'></script>
<script type='text/javascript' src='/js/prettyphoto/jquery.prettyPhotoaeb9.js?ver=3.1.4'></script>
<script type='text/javascript' src='/js/jquery.liveSearchd5f7.js?ver=2.0'></script>
<script type='text/javascript' src='/js/jflickrfeed.js'></script>
<script type='text/javascript' src='/js/jquery.formd471.js?ver=3.18'></script>
<script type='text/javascript' src='/js/jquery.validate.minfc6b.js?ver=1.10.0'></script>
<script type='text/javascript' src='/js/custom5152.js?ver=1.0'></script>

</body>
</html>
