<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]
[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]
[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]
[if gt IE 8]><! <html lang="en-US"> <![endif]-->
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BBS technology sharing site</title>

    <link rel="shortcut icon" href="/images/beijing.jpg"/>

    <!-- Style Sheet-->
    <!--<link rel="stylesheet" href="style.css"/>-->
    <link rel='stylesheet' id='bootstrap-css-css' href='/css/bootstrap5152.css?ver=1.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='responsive-css-css' href='/css/responsive5152.css?ver=1.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='pretty-photo-css-css' href='/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='main-css-css' href='/css/main5152.css?ver=1.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='custom-css-css' href='/css/custom5152.html?ver=1.0' type='text/css' media='all'/>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/js/html5.js"></script></script>
    <![endif]-->
    <style type="text/css">
        div {
            /*border: 1px black solid ;*/
        }
        .butclass {
            background-color: #0d90d1;
            display: inline-block;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            font: 14px/100% Arial, Helvetica, sans-serif;
            padding: .5em 2em .55em;
            text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
            -webkit-border-radius: .5em;
            -moz-border-radius: .5em;
            border-radius: .5em;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        }

        .akshelp {
            font-size: 18px;
        }

        .askhelpImg {
            width: 24px;
            height: 24px;
        }

        .butclass:hover {
            text-decoration: none;
        }

        .butclass:active {
            position: relative;
            top: 1px;
        }

        select {
            width: 50px;
        }


    </style>
    <script src="/js/jquery-3.3.1.js" th:inline="javascript">
    </script>
    <script>
        $(document).ready(function () {
            // 点击提交帖子
            $("#sureApply").click(function () {
                $.ajax({
                    type:"POST",
                    url:"/teaminvite/save/single",
                    contentType:"application/json; charset=utf-8",
                    data:JSON.stringify({
                        teamId:$(this).prev().val(),
                        nickname: $("#inviteInput").val()
                    }),
                    dataType: "json",
                    success: function (message) {
                        if (message.body != null) {
                            alert(message.body)
                        } else {
                            alert(message.head.result)
                        }
                    }
                })
            })

            $("#invite").click(function () {
                $("#slideText").show();
            })
        });
    </script>
</head>

<body>

<!-- Start of Header -->
<div class="header-wrapper">
    <header>
        <div class="container">


            <div class="logo-container">
                <!-- Website Logo -->
                <a href="/post/index" title="BBS技术分享网站">
                    <img src="/images/logo.png" alt="BBS technology sharing site">
                </a>
                <span class="tag-line">思想的宽度从分享开始</span>
            </div>


            <!-- Start of Main Navigation -->
            <nav class="main-nav">
                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="clearfix">
                        <li class="current-menu-item"><a href="/post/index">首页</a></li>
                        <li><a href="/follow/query/list?type=2">关注</a></li>
                        <li><a href="/home-categories-description">推荐</a></li>
                        <li><a href="/articles-list">最新</a></li>
                        <li><a href="/user/myManage">消息</a></li>
                        <!--<li><a href="/post/plate/list">板块</a></li>-->
                        <li><a href="/faq">常见问题</a></li>
                        <li><a href="/contact">联系我们</a></li>
                        <shiro:guest>
                            <li><a href="/login">登录 注册</a></li>
                        </shiro:guest>
                        <shiro:user>
                            <li>欢迎您：
                                <a href="/user">
                                    <shiro:principal property="email"></shiro:principal>
                                </a>&emsp;
                            </li>
                            <a href="/logout" style="color: white">注销</a></shiro:user>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</div>
<!-- End of Header -->


<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div style="border: 0px solid aquamarine;height: 800px">
            <div style="margin: 0 auto;width: 78%">
                <!--<form action="/newPost" method="post">-->
                <br>
                <!--小组信息框-->
                <div style="width: 100%;height: 40px;">
                    <span th:text="${detail.teamName}" style="font-size: 24px;"></span>&emsp;&emsp;
                    <span th:text="'板块：' + ${detail.plateName}" style="font-size: 24px;"></span>&emsp;&emsp;
                    <span th:text="'创建：' + ${detail.gmtCreateStr}" style="font-size: 24px;"></span>
                </div>
                <!--小组操作框-->
                <div style="height:30px;">
                    <span style="font-size:20px;line-height: 30px" th:text="'人数：' + ${detail.count}"></span>&emsp;
                    <a href ="javascript:void(0)" id="invite" style="margin-left: 20px; font-size:18px">邀请</a>&emsp;&emsp;
                    <span id="slideText" hidden>
                        <input type="text" id="inviteInput" style="height:30px;">
                        <input th:value="${detail.id}" type="hidden">
                        <button id="sureApply" style="height:30px;border: none; margin-top: -8px">确定</button>
                    </span>
                </div>
                <hr>
                <!--用户列表框-->
                <div style="float: left;width:20%;height: 100%;border-right: 1px black solid">
                    <b>成员：</b><hr>
                    <ul id="menu-quick-links" >
                        <li th:each="nickname,nicknameStat: ${detail.nicknames}">
                            <a style="float: left;" th:href="'/user/other?userId=' + ${nickname.id}" th:text="${nickname.nickname} "></a>
                        </li>
                    </ul>
                </div>
                <!--历史消息框-->
                <div style="float: right; width: 78%; height: 80%;border: 1px black solid">

                </div>

                <!--信息输入框-->
                <div style="height: 19%;width: 78%;float: right;margin-top:2px">
                    <textarea style="width:89%;height:100%;font-size:25px"></textarea>
                    <div style="float: right;margin-bottom: 1px;width:10%;height:100%">
                        <button style="height: 100%; width:100%; font-size:30px">发<br><br>送</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Container -->

<!-- Start of Footer -->
<footer id="footer-wrapper">
    <div id="footer" class="container">
        <div class="row">

            <div class="span3">
                <section class="widget">
                    <h3 class="title">How it works</h3>
                    <div class="textwidget">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                            ut aliquip ex ea commodo consequat. </p>
                    </div>
                </section>
            </div>

            <div class="span3">
                <section class="widget"><h3 class="title">Categories</h3>
                    <ul>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Advanced Techniques</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Designing in WordPress</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Server &amp; Database</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet, ">Theme Development</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">Website Dev</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">WordPress for Beginners</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet, ">WordPress Plugins</a></li>
                    </ul>
                </section>
            </div>


           <!-- <div class="span3">
                <section class="widget">
                    <h3 class="title">Flickr Photos</h3>
                    <div class="flickr-photos" id="basicuse">
                    </div>
                </section>
            </div>-->

        </div>
    </div>
    <!-- end of #footer -->


</footer>
<!-- End of Footer -->

<a href="#top" id="scroll-top"></a>

<!-- script -->

<script type='text/javascript' src='/js/jquery.easing.1.3.js'></script>
<script type='text/javascript' src='/js/prettyphoto/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='/js/jflickrfeed.js'></script>
<script type='text/javascript' src='/js/jquery.liveSearch.js'></script>
<script type='text/javascript' src='/js/jquery.form.js'></script>
<script type='text/javascript' src='/js/jquery.validate.min.js'></script>
<script type='text/javascript' src='/js/custom.js'></script>

</body>
</html>