<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.dao.ApplyPlateDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bysj.entity.ApplyPlate">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="info" property="info"/>
        <result column="plate_id" property="plateId"/>
        <result column="state" property="state"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        user_id
        AS
        userId,
        info,
        plate_id
        AS
        plateId,
        state,
        gmt_create
        AS
        gmtCreate,
        gmt_modify
        AS
        gmtModify
    </sql>

    <sql id="Table_Name">
        apply_plate
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" userId != null">
            user_id,
        </if>
        <if test=" info != null">
            info,
        </if>
        <if test=" plateId != null">
            plate_id,
        </if>
        <if test=" state != null">
            state,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModify != null">
            gmt_modify,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" userId != null">
            #{userId },
        </if>
        <if test=" info != null">
            #{info },
        </if>
        <if test=" plateId != null">
            #{plateId },
        </if>
        <if test=" state != null">
            #{state },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            #{gmtModify },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" userId != null">
            user_id = #{userId },
        </if>
        <if test=" info != null">
            info = #{info },
        </if>
        <if test=" plateId != null">
            plate_id = #{plateId },
        </if>
        <if test=" state != null">
            state = #{state },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            gmt_modify = #{gmtModify },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" userId != null">
            and user_id = #{userId }
        </if>
        <if test=" info != null">
            and info = #{info }
        </if>
        <if test=" plateId != null">
            and plate_id = #{plateId }
        </if>
        <if test=" state != null">
            and state = #{state }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModify != null">
            and gmt_modify = #{gmtModify }
        </if>
    </sql>

    <insert id="insert" parameterType="com.bysj.entity.ApplyPlate">
        insert into
         apply_plate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" userId != null">
                user_id,
            </if>
            <if test=" info != null">
                info,
            </if>
            <if test=" plateId != null">
                plate_id,
            </if>
            <if test=" state != null">
                state,
            </if>
            <if test=" gmtCreate != null">
                gmt_create,
            </if>
            <if test=" gmtModify != null">
                gmt_modify,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test=" userId != null">
                #{userId },
            </if>
            <if test=" info != null">
                #{info },
            </if>
            <if test=" plateId != null">
                #{plateId },
            </if>
            <if test=" state != null">
                #{state },
            </if>
            <if test=" gmtCreate != null">
                #{gmtCreate },
            </if>
            <if test=" gmtModify != null">
                #{gmtModify },
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.bysj.entity.ApplyPlate">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.bysj.entity.ApplyPlate" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.bysj.entity.ApplyPlate" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.bysj.entity.ApplyPlate">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.bysj.common.request.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.bysj.entity.ApplyPlate" parameterType="com.bysj.common.request.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="findAllApply" resultType="com.bysj.entity.vo.response.ApplyPlateResponse">
        select
            ap.id,
            user_id as applyUserId,
            u.nickname as applyUserName,
            info as applyInfo,
            p.plate_name as applyPlateName,
            ap.gmt_create as applyTime
        from apply_plate ap
        inner join user u on ap.user_id = u.id
        inner join plater p on ap.plate_id = p.id
        where ap.state = 1
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="findAllCount" resultType="java.lang.Integer">
        select
            count(1)
        from apply_plate ap
                 inner join user u on ap.user_id = u.id
                 inner join plater p on ap.plate_id = p.id
        where ap.state = 1
    </select>
    <select id="getInfoByUserIdAndPlateId" resultType="com.bysj.entity.ApplyPlate">
        select
        id,
        user_id AS userId,
        info,
        plate_id AS plateId,
        state,
        gmt_create AS gmtCreate,
        gmt_modify AS gmtModify
        from
        apply_plate
        where user_id = #{userId} and plate_id = #{plateId}
</select>
        </mapper>