<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.dao.ChatRecordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bysj.entity.ChatRecord">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="team_id" property="teamId"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="user_create" property="userCreate"/>
    </resultMap>
<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, team_id AS teamId, gmt_create AS gmtCreate, user_create AS userCreate
    </sql>

    <sql id="Table_Name">
        chat_record
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" content != null">
            content,
        </if>
        <if test=" teamId != null">
            team_id,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" userCreate != null">
            user_create,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" content != null">
            #{content },
        </if>
        <if test=" teamId != null">
            #{teamId },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" userCreate != null">
            #{userCreate },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" content != null">
            content = #{content },
        </if>
        <if test=" teamId != null">
            team_id = #{teamId },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" userCreate != null">
            user_create = #{userCreate },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" content != null">
            and content = #{content }
        </if>
        <if test=" teamId != null">
            and team_id = #{teamId }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" userCreate != null">
            and user_create = #{userCreate }
        </if>
    </sql>

    <insert id="insert" parameterType="com.bysj.entity.ChatRecord">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.bysj.entity.ChatRecord">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.bysj.entity.ChatRecord" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.bysj.entity.ChatRecord" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.bysj.entity.ChatRecord">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.bysj.common.request.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.bysj.entity.ChatRecord" parameterType="com.bysj.common.request.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
</mapper>