<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.dao.FavoritesArticleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bysj.entity.FavoritesArticle">
        <id column="user_id" property="userId"/>
        <result column="post_id" property="postId"/>
        <result column="state" property="state"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
        <result column="user_create" property="userCreate"/>
        <result column="user_modify" property="userModify"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id
        AS
        userId
        ,
        post_id
        AS
        postId,
        state,
        gmt_create
        AS
        gmtCreate,
        gmt_modify
        AS
        gmtModify,
        user_create
        AS
        userCreate,
        user_modify
        AS
        userModify
    </sql>

    <sql id="Table_Name">
        favorites_article
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" userId != null">
            user_id,
        </if>
        <if test=" postId != null">
            post_id,
        </if>
        <if test=" state != null">
            state,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModify != null">
            gmt_modify,
        </if>
        <if test=" userCreate != null">
            user_create,
        </if>
        <if test=" userModify != null">
            user_modify,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" userId != null">
            #{userId },
        </if>
        <if test=" postId != null">
            #{postId },
        </if>
        <if test=" state != null">
            #{state },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            #{gmtModify },
        </if>
        <if test=" userCreate != null">
            #{userCreate },
        </if>
        <if test=" userModify != null">
            #{userModify },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" userId != null">
            user_id = #{userId },
        </if>
        <if test=" postId != null">
            post_id = #{postId },
        </if>
        <if test=" state != null">
            state = #{state },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            gmt_modify = #{gmtModify },
        </if>
        <if test=" userCreate != null">
            user_create = #{userCreate },
        </if>
        <if test=" userModify != null">
            user_modify = #{userModify },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" userId != null">
            and user_id = #{userId }
        </if>
        <if test=" postId != null">
            and post_id = #{postId }
        </if>
        <if test=" state != null">
            and state = #{state }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModify != null">
            and gmt_modify = #{gmtModify }
        </if>
        <if test=" userCreate != null">
            and user_create = #{userCreate }
        </if>
        <if test=" userModify != null">
            and user_modify = #{userModify }
        </if>
    </sql>

    <insert id="insert" parameterType="com.bysj.entity.FavoritesArticle">
        insert into
        favorites_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.bysj.entity.FavoritesArticle">
        update
            favorites_article
        set
            user_id = #{userId},
            post_id = #{postId},
            state = #{state},
            gmt_modify = #{gmtModify}
            user_modify = #{userModify}
        where post_id = #{postId}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.bysj.entity.FavoritesArticle" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>
    <select id="getIfCollectByUserId" resultType="com.bysj.entity.FavoritesArticle" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where user_id = #{userId} and post_id = #{postId}
        and state = 1
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.bysj.entity.FavoritesArticle" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.bysj.entity.FavoritesArticle">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.bysj.common.request.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.bysj.entity.FavoritesArticle"
            parameterType="com.bysj.common.request.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
</mapper>