<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.dao.PlaterDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bysj.entity.Plater">
        <id column="id" property="id"/>
        <result column="plate_name" property="plateName"/>
        <result column="owner_id" property="ownerId"/>
        <result column="state" property="state"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
        <result column="user_create" property="userCreate"/>
        <result column="user_modify" property="userModify"/>
    </resultMap>
<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, plate_name AS plateName, owner_id AS ownerId, state, gmt_create AS gmtCreate, gmt_modify AS gmtModify, user_create AS userCreate, user_modify AS userModify
    </sql>

    <sql id="Table_Name">
        plater
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" plateName != null">
            plate_name,
        </if>
        <if test=" ownerId != null">
            owner_id,
        </if>
        <if test=" state != null">
            state,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModify != null">
            gmt_modify,
        </if>
        <if test=" userCreate != null">
            user_create,
        </if>
        <if test=" userModify != null">
            user_modify,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" plateName != null">
            #{plateName },
        </if>
        <if test=" ownerId != null">
            #{ownerId },
        </if>
        <if test=" state != null">
            #{state },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            #{gmtModify },
        </if>
        <if test=" userCreate != null">
            #{userCreate },
        </if>
        <if test=" userModify != null">
            #{userModify },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" plateName != null">
            plate_name = #{plateName },
        </if>
        <if test=" ownerId != null">
            owner_id = #{ownerId },
        </if>
        <if test=" state != null">
            state = #{state },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            gmt_modify = #{gmtModify },
        </if>
        <if test=" userCreate != null">
            user_create = #{userCreate },
        </if>
        <if test=" userModify != null">
            user_modify = #{userModify },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" plateName != null">
            and plate_name = #{plateName }
        </if>
        <if test=" ownerId != null">
            and owner_id = #{ownerId }
        </if>
        <if test=" state != null">
            and state = #{state }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModify != null">
            and gmt_modify = #{gmtModify }
        </if>
        <if test=" userCreate != null">
            and user_create = #{userCreate }
        </if>
        <if test=" userModify != null">
            and user_modify = #{userModify }
        </if>
    </sql>

    <insert id="insert" parameterType="com.bysj.entity.Plater">
        insert into
        plater
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.bysj.entity.Plater">
        update
        plater
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>
    <update id="setPlaterByplateName" parameterType="java.util.Map" >
        update
          plater
        set
          owner_id = #{userId},
          gmt_modify = #{gmtModify},
          user_modify = #{userModify}
          where plate_name  = #{plateName}

    </update>
    <update id="takeOffPlater">
        update plater set owner_id = 0 , gmt_modify = #{gmtModify}, user_modify = #{userModify}
        where id = #{plateId}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.bysj.entity.Plater" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        plater
        where id = #{id}
    </select>
    <!-- 根据主键查询 -->
    <select id="getOwnerById" resultType="com.bysj.entity.vo.response.PlaterForUserInfoResponse" parameterType="java.lang.Integer">
        select
          u.id,
          nickname,
               p.plate_name as plateName
        from
        plater p left join user u on p.owner_id = u.id
        where p.id = #{plateId}
    </select>



    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        plater
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.bysj.entity.Plater" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        plater
        <where>
            <trim prefixOverrides="and">
                <if test=" plateName != null">
                    and plate_name = #{plateName }
                </if>
                <if test=" ownerId != null">
                    and owner_id = #{ownerId }
                </if>
                <if test=" state != null">
                    and state = #{state }
                </if>
                <if test=" gmtCreate != null">
                    and gmt_create = #{gmtCreate }
                </if>
                <if test=" gmtModify != null">
                    and gmt_modify = #{gmtModify }
                </if>
                <if test=" userCreate != null">
                    and user_create = #{userCreate }
                </if>
                <if test=" userModify != null">
                    and user_modify = #{userModify }
                </if>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.bysj.entity.Plater">
        select *
        from
        plater
    </select>


    <select id="findCount" resultType="int" parameterType="com.bysj.common.request.ObjectQuery">
        select count(1)
        from
        plater
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findAllPlateName" resultType="com.bysj.entity.vo.response.PlateNameForIndex">
        select id, plate_name as plateName from plater
    </select>
    <select id="findQuery" resultType="com.bysj.entity.Plater" parameterType="com.bysj.common.request.ObjectQuery">
        select * from
        plater
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <select id="findPlateNameByUserId" parameterType="Integer" resultType="java.lang.String">
        select plate_name as plateName from plater where owner_id = ${userId}
    </select>
</mapper>