<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit.bbs.dao.PostDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cuit. bysj.Post">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="info" property="info"/>
        <result column="poster_id" property="posterId"/>
        <result column="if_good" property="ifGood"/>
        <result column="plate_id" property="plateId"/>
        <result column="reply_count" property="replyCount"/>
        <result column="thumbup_count" property="thumbupCount"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="state" property="state"/>
        <result column="read_count" property="readCount"/>
        <result column="article_from" property="articleFrom"/>
        <result column="article_type" property="articleType"/>
    </resultMap>
<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, info, poster_id AS posterId, if_good AS ifGood, plate_id AS plateId, reply_count AS replyCount, thumbup_count AS thumbupCount, gmt_create AS gmtCreate, gmt_modify AS gmtModify, create_user AS createUser, modify_user AS modifyUser, state, read_count AS readCount, article_from AS articleFrom, article_type AS articleType
    </sql>

    <sql id="Table_Name">
        post
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" title != null">
            title,
        </if>
        <if test=" info != null">
            info,
        </if>
        <if test=" posterId != null">
            poster_id,
        </if>
        <if test=" ifGood != null">
            if_good,
        </if>
        <if test=" plateId != null">
            plate_id,
        </if>
        <if test=" replyCount != null">
            reply_count,
        </if>
        <if test=" thumbupCount != null">
            thumbup_count,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModify != null">
            gmt_modify,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" state != null">
            state,
        </if>
        <if test=" readCount != null">
            read_count,
        </if>
        <if test=" articleFrom != null">
            article_from,
        </if>
        <if test=" articleType != null">
            article_type,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" title != null">
            #{title },
        </if>
        <if test=" info != null">
            #{info },
        </if>
        <if test=" posterId != null">
            #{posterId },
        </if>
        <if test=" ifGood != null">
            #{ifGood },
        </if>
        <if test=" plateId != null">
            #{plateId },
        </if>
        <if test=" replyCount != null">
            #{replyCount },
        </if>
        <if test=" thumbupCount != null">
            #{thumbupCount },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            #{gmtModify },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" state != null">
            #{state },
        </if>
        <if test=" readCount != null">
            #{readCount },
        </if>
        <if test=" articleFrom != null">
            #{articleFrom },
        </if>
        <if test=" articleType != null">
            #{articleType },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" title != null">
            title = #{title },
        </if>
        <if test=" info != null">
            info = #{info },
        </if>
        <if test=" posterId != null">
            poster_id = #{posterId },
        </if>
        <if test=" ifGood != null">
            if_good = #{ifGood },
        </if>
        <if test=" plateId != null">
            plate_id = #{plateId },
        </if>
        <if test=" replyCount != null">
            reply_count = #{replyCount },
        </if>
        <if test=" thumbupCount != null">
            thumbup_count = #{thumbupCount },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            gmt_modify = #{gmtModify },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" state != null">
            state = #{state },
        </if>
        <if test=" readCount != null">
            read_count = #{readCount },
        </if>
        <if test=" articleFrom != null">
            article_from = #{articleFrom },
        </if>
        <if test=" articleType != null">
            article_type = #{articleType },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" title != null">
            and title = #{title }
        </if>
        <if test=" info != null">
            and info = #{info }
        </if>
        <if test=" posterId != null">
            and poster_id = #{posterId }
        </if>
        <if test=" ifGood != null">
            and if_good = #{ifGood }
        </if>
        <if test=" plateId != null">
            and plate_id = #{plateId }
        </if>
        <if test=" replyCount != null">
            and reply_count = #{replyCount }
        </if>
        <if test=" thumbupCount != null">
            and thumbup_count = #{thumbupCount }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModify != null">
            and gmt_modify = #{gmtModify }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
        <if test=" state != null">
            and state = #{state }
        </if>
        <if test=" readCount != null">
            and read_count = #{readCount }
        </if>
        <if test=" articleFrom != null">
            and article_from = #{articleFrom }
        </if>
        <if test=" articleType != null">
            and article_type = #{articleType }
        </if>
    </sql>

    <insert id="insert" parameterType="com.cuit. bysj.Post">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.cuit. bysj.Post">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.cuit. bysj.Post" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.cuit. bysj.Post" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.cuit. bysj.Post">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.bysj.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.cuit. bysj.Post" parameterType="com.bysj.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
</mapper>