<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.dao.PostDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bysj.entity.Post">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="info" property="info"/>
        <result column="publish_time" property="publishTime"/>
        <result column="poster_id" property="posterId"/>
        <result column="if_good" property="ifGood"/>
        <result column="if_delete" property="ifDelete"/>
        <result column="plate_id" property="plateId"/>
        <result column="plate_name" property="plateName"/>
        <result column="reply_count" property="replyCount"/>
        <result column="poster_name" property="posterName"/>
        <result column="poster_picture" property="posterPicture"/>
        <result column="thumbup_count" property="thumbupCount"/>
        <result column="last_modify_time" property="lastModifyTime"/>
    </resultMap>
<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, info, publish_time AS publishTime, poster_id AS posterId, if_good AS ifGood, if_delete AS ifDelete, plate_id AS plateId, plate_name AS plateName, reply_count AS replyCount, poster_name AS posterName, poster_picture AS posterPicture, thumbup_count AS thumbupCount, last_modify_time AS lastModifyTime
    </sql>

    <sql id="Table_Name">
        post
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" title != null">
            title,
        </if>
        <if test=" info != null">
            info,
        </if>
        <if test=" publishTime != null">
            publish_time,
        </if>
        <if test=" posterId != null">
            poster_id,
        </if>
        <if test=" ifGood != null">
            if_good,
        </if>
        <if test=" ifDelete != null">
            if_delete,
        </if>
        <if test=" plateId != null">
            plate_id,
        </if>
        <if test=" plateName != null">
            plate_name,
        </if>
        <if test=" replyCount != null">
            reply_count,
        </if>
        <if test=" posterName != null">
            poster_name,
        </if>
        <if test=" posterPicture != null">
            poster_picture,
        </if>
        <if test=" thumbupCount != null">
            thumbup_count,
        </if>
        <if test=" lastModifyTime != null">
            last_modify_time,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" title != null">
            #{title },
        </if>
        <if test=" info != null">
            #{info },
        </if>
        <if test=" publishTime != null">
            #{publishTime },
        </if>
        <if test=" posterId != null">
            #{posterId },
        </if>
        <if test=" ifGood != null">
            #{ifGood },
        </if>
        <if test=" ifDelete != null">
            #{ifDelete },
        </if>
        <if test=" plateId != null">
            #{plateId },
        </if>
        <if test=" plateName != null">
            #{plateName },
        </if>
        <if test=" replyCount != null">
            #{replyCount },
        </if>
        <if test=" posterName != null">
            #{posterName },
        </if>
        <if test=" posterPicture != null">
            #{posterPicture },
        </if>
        <if test=" thumbupCount != null">
            #{thumbupCount },
        </if>
        <if test=" lastModifyTime != null">
            #{lastModifyTime },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" title != null">
            title = #{title },
        </if>
        <if test=" info != null">
            info = #{info },
        </if>
        <if test=" publishTime != null">
            publish_time = #{publishTime },
        </if>
        <if test=" posterId != null">
            poster_id = #{posterId },
        </if>
        <if test=" ifGood != null">
            if_good = #{ifGood },
        </if>
        <if test=" ifDelete != null">
            if_delete = #{ifDelete },
        </if>
        <if test=" plateId != null">
            plate_id = #{plateId },
        </if>
        <if test=" plateName != null">
            plate_name = #{plateName },
        </if>
        <if test=" replyCount != null">
            reply_count = #{replyCount },
        </if>
        <if test=" posterName != null">
            poster_name = #{posterName },
        </if>
        <if test=" posterPicture != null">
            poster_picture = #{posterPicture },
        </if>
        <if test=" thumbupCount != null">
            thumbup_count = #{thumbupCount },
        </if>
        <if test=" lastModifyTime != null">
            last_modify_time = #{lastModifyTime },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" title != null">
            and title = #{title }
        </if>
        <if test=" info != null">
            and info = #{info }
        </if>
        <if test=" publishTime != null">
            and publish_time = #{publishTime }
        </if>
        <if test=" posterId != null">
            and poster_id = #{posterId }
        </if>
        <if test=" ifGood != null">
            and if_good = #{ifGood }
        </if>
        <if test=" ifDelete != null">
            and if_delete = #{ifDelete }
        </if>
        <if test=" plateId != null">
            and plate_id = #{plateId }
        </if>
        <if test=" plateName != null">
            and plate_name = #{plateName }
        </if>
        <if test=" replyCount != null">
            and reply_count = #{replyCount }
        </if>
        <if test=" posterName != null">
            and poster_name = #{posterName }
        </if>
        <if test=" posterPicture != null">
            and poster_picture = #{posterPicture }
        </if>
        <if test=" thumbupCount != null">
            and thumbup_count = #{thumbupCount }
        </if>
        <if test=" lastModifyTime != null">
            and last_modify_time = #{lastModifyTime }
        </if>
    </sql>

    <insert id="insert" parameterType="com.bysj.entity.Post">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.bysj.entity.Post">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.bysj.entity.Post" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.bysj.entity.Post" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.bysj.entity.Post">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.bysj.common.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.bysj.entity.Post" parameterType="com.bysj.common.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
</mapper>