<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.dao.PostDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bysj.entity.Post">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="info" property="info"/>
        <result column="poster_id" property="posterId"/>
        <result column="if_good" property="ifGood"/>
        <result column="plate_id" property="plateId"/>
        <result column="reply_count" property="replyCount"/>
        <result column="thumbup_count" property="thumbupCount"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="state" property="state"/>
        <result column="read_count" property="readCount"/>
        <result column="article_from" property="articleFrom"/>
        <result column="article_type" property="articleType"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        title,
        info,
        poster_id
        AS
        posterId,
        if_good
        AS
        ifGood,
        plate_id
        AS
        plateId,
        reply_count
        AS
        replyCount,
        thumbup_count
        AS
        thumbupCount,
        gmt_create
        AS
        gmtCreate,
        gmt_modify
        AS
        gmtModify,
        create_user
        AS
        createUser,
        modify_user
        AS
        modifyUser,
        state,
        read_count
        AS
        readCount,
        article_from
        AS
        articleFrom,
        article_type
        AS
        articleType
    </sql>

    <sql id="Table_Name">
        post
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" title != null">
            title,
        </if>
        <if test=" info != null">
            info,
        </if>
        <if test=" posterId != null">
            poster_id,
        </if>
        <if test=" ifGood != null">
            if_good,
        </if>
        <if test=" plateId != null">
            plate_id,
        </if>
        <if test=" replyCount != null">
            reply_count,
        </if>
        <if test=" thumbupCount != null">
            thumbup_count,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModify != null">
            gmt_modify,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" state != null">
            state,
        </if>
        <if test=" readCount != null">
            read_count,
        </if>
        <if test=" articleFrom != null">
            article_from,
        </if>
        <if test=" articleType != null">
            article_type,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" title != null">
            #{title },
        </if>
        <if test=" info != null">
            #{info },
        </if>
        <if test=" posterId != null">
            #{posterId },
        </if>
        <if test=" ifGood != null">
            #{ifGood },
        </if>
        <if test=" plateId != null">
            #{plateId },
        </if>
        <if test=" replyCount != null">
            #{replyCount },
        </if>
        <if test=" thumbupCount != null">
            #{thumbupCount },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            #{gmtModify },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" state != null">
            #{state },
        </if>
        <if test=" readCount != null">
            #{readCount },
        </if>
        <if test=" articleFrom != null">
            #{articleFrom },
        </if>
        <if test=" articleType != null">
            #{articleType },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" title != null">
            title = #{title },
        </if>
        <if test=" info != null">
            info = #{info },
        </if>
        <if test=" posterId != null">
            poster_id = #{posterId },
        </if>
        <if test=" ifGood != null">
            if_good = #{ifGood },
        </if>
        <if test=" plateId != null">
            plate_id = #{plateId },
        </if>
        <if test=" replyCount != null">
            reply_count = #{replyCount },
        </if>
        <if test=" thumbupCount != null">
            thumbup_count = #{thumbupCount },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            gmt_modify = #{gmtModify },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" state != null">
            state = #{state },
        </if>
        <if test=" readCount != null">
            read_count = #{readCount },
        </if>
        <if test=" articleFrom != null">
            article_from = #{articleFrom },
        </if>
        <if test=" articleType != null">
            article_type = #{articleType },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" title != null">
            and title = #{title }
        </if>
        <if test=" info != null">
            and info = #{info }
        </if>
        <if test=" posterId != null">
            and poster_id = #{posterId }
        </if>
        <if test=" ifGood != null">
            and if_good = #{ifGood }
        </if>
        <if test=" plateId != null">
            and plate_id = #{plateId }
        </if>
        <if test=" replyCount != null">
            and reply_count = #{replyCount }
        </if>
        <if test=" thumbupCount != null">
            and thumbup_count = #{thumbupCount }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModify != null">
            and gmt_modify = #{gmtModify }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
        <if test=" state != null">
            and state = #{state }
        </if>
        <if test=" readCount != null">
            and read_count = #{readCount }
        </if>
        <if test=" articleFrom != null">
            and article_from = #{articleFrom }
        </if>
        <if test=" articleType != null">
            and article_type = #{articleType }
        </if>
    </sql>

    <sql id="Where_Query_List">
        <if test=" title != null">
            and title = #{title }
        </if>
        <if test=" info != null">
            and info = #{info }
        </if>
        <if test=" ifGood != null">
            and if_good = #{ifGood }
        </if>
        <if test=" plateId != null">
            and plate_id = #{plateId }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" articleFrom != null">
            and article_from = #{articleFrom }
        </if>
        <if test=" articleType != null">
            and article_type = #{articleType }
        </if>
    </sql>

    <insert id="insert" parameterType="com.bysj.entity.Post" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
        post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            title,
            info,
            poster_id,
            <if test=" ifGood != null">
                if_good,
            </if>
            plate_id,
            <if test=" replyCount != null">
                reply_count,
            </if>
            <if test=" thumbupCount != null">
                thumbup_count,
            </if>
            gmt_create,
            gmt_modify,
            create_user,
            modify_user,
            <if test=" readCount != null">
                read_count,
            </if>
            article_from,
            article_type,
            <if test=" giveMoney != null">
                give_money,
            </if>
            <if test=" needMoney != null">
                need_money,
            </if>
            <if test=" resourceId != null">
                resource_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{title },
            #{info },
            #{posterId },
            <if test=" ifGood != null">
                #{ifGood },
            </if>
            #{plateId },
            <if test=" replyCount != null">
                #{replyCount },
            </if>
            <if test=" thumbupCount != null">
                #{thumbupCount },
            </if>
            #{gmtCreate },
            #{gmtModify },
            #{createUser },
            #{modifyUser },
            <if test=" readCount != null">
                #{readCount },
            </if>
            #{articleFrom },
            #{articleType },
            <if test=" giveMoney != null">
                #{giveMoney},
            </if>
            <if test=" needMoney != null">
                #{needMoney},
            </if>
            <if test=" resourceId != null">
                #{resourceId},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.bysj.entity.Post">
        update
        post
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <update id="setGoodPost" parameterType="com.bysj.entity.Post">
        update post
        set if_Good     = #{ifGood},
            gmt_modify  = #{gmtModify},
            create_user = #{modifyUser}
        where id = ${id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.bysj.entity.Post" parameterType="java.lang.Integer">
        select
            id          as id,
            if_good     as ifGood,
            gmt_modify  as gmtmodify,
            modify_user as modifyUser,
            reply_count as replyCount
        from
            post
        where id = #{id}
    </select>

    <!-- 根据主键查询 -->
    <select id="getAllById" resultType="com.bysj.entity.Post" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        post
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        update
            post
        set state = 0
        where id = #{id}
    </delete>
    <delete id="delPost" parameterType="com.bysj.entity.vo.request.PostDel">
        update post
        set state = 0,
        gmt_modify = #{gmtModify},
        modify_user = #{modifyUser}
        <if test="banReason != null">
            ban_reason =#{banReason}
        </if>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.bysj.entity.Post" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        post
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.bysj.entity.Post">
        select *
        from
            post
    </select>


    <select id="findCount" resultType="int" parameterType="com.bysj.entity.vo.query.PostSimpleQueryList">
        select count(1)
        from
        post
        <where>
            <trim prefixOverrides="and">
                <if test=" title != null">
                    and title = #{title }
                </if>
                <if test=" info != null">
                    and info = #{info }
                </if>
                <if test=" ifGood != null">
                    and if_good = #{ifGood }
                </if>
                <if test=" plateId != null">
                    and plate_id = #{plateId }
                </if>
                <if test=" gmtCreate != null">
                    and gmt_create = #{gmtCreate }
                </if>
                <if test=" articleFrom != null">
                    and article_from = #{articleFrom }
                </if>
                <if test=" articleType != null">
                    and article_type = #{articleType }
                </if>
                and state = 1
            </trim>
        </where>
    </select>

    <select id="findPostQuery" resultType="com.bysj.entity.vo.response.PostResponse"
            parameterType="com.bysj.common.request.ObjectQuery">
        select
            p.id,
            p.title,
            p.info,
            p.plate_id as plateId,
            u.nickname as posterName,
            p.if_good as ifGood,
            pl.plate_name as plateName,
            p.reply_count as replyCount,
            p.thumbup_count as thumbupCount,
            p.gmt_create as gmtCreate,
            p.gmt_modify as gmtModify,
            p.read_count as readCount,
            p.article_from as articleFrom,
            p.article_type as articleType,
            p.need_money as needMoney,
            p.give_money as giveMoney
        from
          post p
        inner join
        user u on p.poster_id = u.id
        inner join
          plater pl on p.plate_id = pl.id
        <where>
            <trim prefixOverrides="and">
                <if test=" title != null">
                    and title = #{title }
                </if>
                <if test=" info != null">
                    and info = #{info }
                </if>
                <if test=" ifGood != null">
                    and if_good = #{ifGood }
                </if>
                <if test=" plateId != null">
                    and plate_id = #{plateId }
                </if>
                <if test=" gmtCreate != null">
                    and gmt_create = #{gmtCreate }
                </if>
                <if test=" articleFrom != null">
                    and article_from = #{articleFrom }
                </if>
                <if test=" articleType != null">
                    and article_type = #{articleType }
                </if>
                <if test="userId != null">
                    and u.id = #{userId}
                </if>
                and p.state = 1
                and p.plate_id = pl.id
                and p.create_user = u.id
            </trim>
        </where>
        order by p.gmt_modify, p.gmt_create
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <select id="findPostForIndex" resultType="com.bysj.entity.vo.response.PostResponse">
        select
            p.id,
            p.title,
            p.info,
            u.nickname      as posterName,
            p.if_good       as ifGood,
            pl.plate_name   as plateName,
            p.reply_count   as replyCount,
            p.thumbup_count as thumbupCount,
            p.gmt_create    as gmtCreate,
            p.gmt_modify    as gmtModify,
            p.read_count    as readCount,
            p.article_from  as articleFrom,
            p.article_type  as articleType,
            p.need_money    as needMoney,
            p.give_money    as giveMoney
        from
            post p
                inner join
                user u on p.poster_id = u.id
                inner join
                plater pl on p.plate_id = pl.id
        where
            p.if_good = 1
            LIMIT
            5
    </select>
    <select id="findAllPostTimeDesc" resultType="com.bysj.entity.vo.response.PostResponse"
            parameterType="com.bysj.common.request.ObjectQuery">
        select
            p.id,
            p.title,
            p.info,
            u.nickname as posterName,
            p.if_good as ifGood,
            pl.plate_name as plateName,
            p.reply_count as replyCount,
            p.thumbup_count as thumbupCount,
            p.gmt_create as gmtCreate,
            p.gmt_modify as gmtModify,
            p.read_count as readCount,
            p.article_from as articleFrom,
            p.article_type as articleType,
            p.need_money as needMoney,
            p.give_money as giveMoney
        from
        post p
        inner join
            user u on p.poster_id = u.id
        inner join
            plater pl on p.plate_id = pl.id
        where p.state = 1
        order by p.gmt_create desc
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <select id="findAllPostCount" resultType="Integer">
        select
            count(1)
        from
            post p
                inner join
                user u on p.poster_id = u.id
                inner join
                plater pl on p.plate_id = pl.id
        where p.state = 1
    </select>


    <select id="findPageSimplePost" resultType="com.bysj.entity.vo.response.PostResponse"
            parameterType="com.bysj.entity.vo.query.PostSimpleQueryList">
        select
        p.id,
        p.title,
        p.info,
        u.nickname as posterName,
        p.if_good as ifGood,
        pl.plate_name as plateName,
        p.reply_count as replyCount,
        p.thumbup_count as thumbupCount,
        p.gmt_create as gmtCreate,
        p.gmt_modify as gmtModify,
        p.read_count as readCount,
        p.article_from as articleFrom,
        p.article_type as articleType
        from
        post p
        inner join user u
        inner join plater pl
        where
        p.plate_id = pl.id
        and p.create_user = u.id
        and p.state = 1
        <if test="integratedQuery != null">
            and (
            p.title like CONCAT('%', #{integratedQuery}, '%')
            or p.info like CONCAT('%', #{integratedQuery}, '%')
            )
        </if>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="findSimpleQueryCount" resultType="java.lang.Integer"
            parameterType="com.bysj.entity.vo.query.PostSimpleQueryList">
        select
        count(1)
        from
        post p
        inner join user u
        inner join plater pl
        where
        p.plate_id = pl.id
        and p.create_user = u.id
        and p.state = 1
        <if test="integratedQuery != null">
            and (
            p.title like CONCAT('%', #{integratedQuery}, '%')
            or p.info like CONCAT('%', #{integratedQuery}, '%')
            )
        </if>
    </select>
    <select id="findPostDetail" resultType="com.bysj.entity.vo.response.PostDetailResponse">
        select
            post.id,
            title,
            info,
            poster_id       as posterId,
            nickname        as posterName,
            if_good         as ifGood,
            plate_id        as plateId,
            plate_name      as plateName,
            reply_count     as replyCount,
            thumbup_count   as thumbupCount,
            post.gmt_create as gmtCreate,
            post.gmt_modify as gmtModify,
            read_count      as readCount,
            article_from    as articleFrom,
            article_type    as articleType,
            need_money      as needMoney,
            give_money      as giveMoney,
            resource_id as resourceId
        from post
                 left join user on post.poster_id = user.id
                 left join plater on post.plate_id = plater.id
        where post.id = #{id}
    </select>
    <select id="findReplyForPost" resultType="com.bysj.entity.vo.response.ReplyForPostDetail">
        select
            r.id,
            r.reply_info    as replyInfo,
            r.thumbup_count as thumbupCount,
            r.gmt_create    as gmtCreate,
            r.user_create   as userCreate,
            u.nickname      as userCreateName,
            u.picture       as userImg
        from reply r
                 inner join post p on r.post_id = p.id
                 inner join user u on r.user_create = u.id
        where r.post_id = ${postId}
          and r.state = 1
    </select>

    <select id="findPageManagePost" resultType="com.bysj.entity.vo.response.PostBanResponse"
            parameterType="com.bysj.entity.vo.query.ManagePostQuery">
        select
        p.id,
        p.title,
        uu.nickname as posterName,
        pl.plate_name as plateName,
        p.gmt_create as postGmtCreate,
        p.gmt_modify as gmtModify,
        p.ban_reason as banReason,
        u.nickname as banUserName,
        p.read_count as readCount,
        p.state as state
        from post p
        left join user u on p.modify_user = u.id
        left join plater pl on p.plate_id = pl.id
        left join user uu on p.poster_id = uu.id
        <where>
            <trim prefixOverrides="and">
                <if test="ifBan != null">
                    and p.state = 0
                </if>
                <if test="ownerId != null">
                    and p.poster_Id = #{ownerId}
                </if>
            </trim>
        </where>
        <!--<if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>-->
    </select>
    <select id="findPagePostCount" resultType="java.lang.Integer"
            parameterType="com.bysj.entity.vo.query.ManagePostQuery">
        select
        count(1)
        from post p
        left join user u on p.modify_user = u.id
        left join plater pl on p.plate_id = pl.id
        left join user uu on p.poster_id = uu.id
        <where>
            <trim prefixOverrides="and">
                <if test="ifBan != null">
                    and p.state = 0
                </if>
                <if test="ownerId != null">
                    and p.poster_Id = #{ownerId}
                </if>
            </trim>
        </where>
    </select>
    <select id="findPostQueryCount" resultType="java.lang.Integer">
        select
          count(1)
        from
        post p
        inner join
        user u on p.poster_id = u.id
        inner join
        plater pl on p.plate_id = pl.id
        <where>
            <trim prefixOverrides="and">
                <if test=" title != null">
                    and title = #{title }
                </if>
                <if test=" info != null">
                    and info = #{info }
                </if>
                <if test=" ifGood != null">
                    and if_good = #{ifGood }
                </if>
                <if test=" plateId != null">
                    and plate_id = #{plateId }
                </if>
                <if test=" gmtCreate != null">
                    and gmt_create = #{gmtCreate }
                </if>
                <if test=" articleFrom != null">
                    and article_from = #{articleFrom }
                </if>
                <if test=" articleType != null">
                    and article_type = #{articleType }
                </if>
                <if test="userId != null">
                    and u.id = #{userId}
                </if>
                and p.state = 1
                and p.plate_id = pl.id
                and p.create_user = u.id
            </trim>
        </where>
    </select>
    <select id="getByResourceId" resultType="com.bysj.entity.Post">
        select
         need_money as needMoney
         from post where resource_id = #{id}
    </select>
</mapper>