<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.dao.PrivateLetterDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bysj.entity.PrivateLetter">
        <id column="id" property="id"/>
        <result column="user_send_send" property="userSendSend"/>
        <result column="user_send_rev" property="userSendRev"/>
        <result column="content" property="content"/>
        <result column="if_read" property="ifRead"/>
        <result column="state" property="state"/>
        <result column="user_modify" property="userModify"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
        <result column="letter_type" property="letterType"/>
        <result column="user_rev_send" property="userRevSend"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        user_send_send
        AS
        userSendSend,
        user_send_rev
        AS
        userSendRev,
        content,
        if_read
        AS
        ifRead,
        state,
        user_modify
        AS
        userModify,
        gmt_create
        AS
        gmtCreate,
        gmt_modify
        AS
        gmtModify,
        letter_type
        AS
        letterType,
        user_rev_send
        AS
        userRevSend
    </sql>

    <sql id="Table_Name">
        private_letter
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" userSendSend != null">
            user_send_send,
        </if>
        <if test=" userSendRev != null">
            user_send_rev,
        </if>
        <if test=" content != null">
            content,
        </if>
        <if test=" ifRead != null">
            if_read,
        </if>
        <if test=" state != null">
            state,
        </if>
        <if test=" userModify != null">
            user_modify,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModify != null">
            gmt_modify,
        </if>
        <if test=" letterType != null">
            letter_type,
        </if>
        <if test=" userRevSend != null">
            user_rev_send,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" userSendSend != null">
            #{userSendSend },
        </if>
        <if test=" userSendRev != null">
            #{userSendRev },
        </if>
        <if test=" content != null">
            #{content },
        </if>
        <if test=" ifRead != null">
            #{ifRead },
        </if>
        <if test=" state != null">
            #{state },
        </if>
        <if test=" userModify != null">
            #{userModify },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            #{gmtModify },
        </if>
        <if test=" letterType != null">
            #{letterType },
        </if>
        <if test=" userRevSend != null">
            #{userRevSend },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" userSendSend != null">
            user_send_send = #{userSendSend },
        </if>
        <if test=" userSendRev != null">
            user_send_rev = #{userSendRev },
        </if>
        <if test=" content != null">
            content = #{content },
        </if>
        <if test=" ifRead != null">
            if_read = #{ifRead },
        </if>
        <if test=" state != null">
            state = #{state },
        </if>
        <if test=" userModify != null">
            user_modify = #{userModify },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            gmt_modify = #{gmtModify },
        </if>
        <if test=" letterType != null">
            letter_type = #{letterType },
        </if>
        <if test=" userRevSend != null">
            user_rev_send = #{userRevSend },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" userSendSend != null">
            and user_send_send = #{userSendSend }
        </if>
        <if test=" userSendRev != null">
            and user_send_rev = #{userSendRev }
        </if>
        <if test=" content != null">
            and content = #{content }
        </if>
        <if test=" ifRead != null">
            and if_read = #{ifRead }
        </if>
        <if test=" state != null">
            and state = #{state }
        </if>
        <if test=" userModify != null">
            and user_modify = #{userModify }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModify != null">
            and gmt_modify = #{gmtModify }
        </if>
        <if test=" letterType != null">
            and letter_type = #{letterType }
        </if>
        <if test=" userRevSend != null">
            and user_rev_send = #{userRevSend }
        </if>
    </sql>

    <insert id="insert" parameterType="com.bysj.entity.PrivateLetter">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.bysj.entity.PrivateLetter">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.bysj.entity.PrivateLetter" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.bysj.entity.PrivateLetter" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.bysj.entity.PrivateLetter">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.bysj.common.request.ObjectQuery">
        select count(1)
        from
        private_letter
        where
        user_rev_send != 0
        and state = 1
        <if test=" userSendRev  != null">
            and user_send_rev = #{userSendRev }
        </if>

        <if test=" letterType != null">
            and letter_type = #{letterType }
        </if>
        <if test=" ifRead != null">
            and if_read = #{ifRead}
        </if>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <select id="findQuery" resultType="com.bysj.entity.vo.response.PrivateLetterResponse"
            parameterType="com.bysj.common.request.ObjectQuery">
        select
        pl.id,
        user_Send_Send as userSendSend,
        user_send_rev as userSendRev,
        content,
        if_read as ifRead,
        pl.user_modify as userModify,
        pl.gmt_create as gmtCreate,
        pl. gmt_modify as gmtModify,
        pl. letter_type as letterType,
        pl. user_rev_send as userRevSend,
        u.nickname as userRevSendName
        from
        private_letter pl inner join user u on
        pl.user_rev_send = u.id
        where
        user_rev_send != 0
        and pl.state = 1
        <if test=" userSendRev  != null">
            and user_send_rev = #{userSendRev }
        </if>

        <if test=" letterType != null">
            and letter_type = #{letterType }
        </if>
        <if test=" ifRead != null">
            and if_read = #{ifRead}
        </if>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="getMySendLetter" resultType="com.bysj.entity.vo.response.PrivateLetterForMyResponse">
        SELECT
            pl.user_send_rev AS userSendRev,
            u.nickname       AS userSendRevName,
            pl.gmt_create    AS gmtCreate,
            pl.content       AS content
        FROM
            private_letter pl
                INNER JOIN USER u ON pl.user_send_rev = u.id
        WHERE
            pl.user_send_send = #{userId}

    </select>
    <select id="getMyRevLetter" resultType="com.bysj.entity.vo.response.PrivateLetterForMyResponse">
        SELECT
            pl.content,
            pl.gmt_create     AS gmtcreate,
            pl.user_send_send AS userrevsend,
            u.nickname        AS userrevsendname
        FROM
            private_letter pl
                INNER JOIN USER u ON pl.user_send_send = u.id
        WHERE
            pl.user_send_rev = ${userId}
    </select>
    <select id="getMySendLetterCount" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            private_letter pl
                INNER JOIN USER u ON pl.user_send_rev = u.id
        WHERE
            pl.user_send_send = #{userId}
    </select>
    <select id="getMyRevLetterCount" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            private_letter pl
                INNER JOIN USER u ON pl.user_send_send = u.id
        WHERE
            pl.user_send_rev = ${userid}
    </select>
</mapper>