<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit.bbs.dao.ReplyDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cuit.bbs.entity.Reply">
        <id column="id" property="id"/>
        <result column="reply_info" property="replyInfo"/>
        <result column="post_id" property="postId"/>
        <result column="thumbup_count" property="thumbupCount"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
        <result column="user_create" property="userCreate"/>
        <result column="user_modify" property="userModify"/>
    </resultMap>
<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, reply_info AS replyInfo, post_id AS postId, thumbup_count AS thumbupCount, gmt_create AS gmtCreate, gmt_modify AS gmtModify, user_create AS userCreate, user_modify AS userModify
    </sql>

    <sql id="Table_Name">
        reply
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" replyInfo != null">
            reply_info,
        </if>
        <if test=" postId != null">
            post_id,
        </if>
        <if test=" thumbupCount != null">
            thumbup_count,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModify != null">
            gmt_modify,
        </if>
        <if test=" userCreate != null">
            user_create,
        </if>
        <if test=" userModify != null">
            user_modify,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" replyInfo != null">
            #{replyInfo },
        </if>
        <if test=" postId != null">
            #{postId },
        </if>
        <if test=" thumbupCount != null">
            #{thumbupCount },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            #{gmtModify },
        </if>
        <if test=" userCreate != null">
            #{userCreate },
        </if>
        <if test=" userModify != null">
            #{userModify },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" replyInfo != null">
            reply_info = #{replyInfo },
        </if>
        <if test=" postId != null">
            post_id = #{postId },
        </if>
        <if test=" thumbupCount != null">
            thumbup_count = #{thumbupCount },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            gmt_modify = #{gmtModify },
        </if>
        <if test=" userCreate != null">
            user_create = #{userCreate },
        </if>
        <if test=" userModify != null">
            user_modify = #{userModify },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" replyInfo != null">
            and reply_info = #{replyInfo }
        </if>
        <if test=" postId != null">
            and post_id = #{postId }
        </if>
        <if test=" thumbupCount != null">
            and thumbup_count = #{thumbupCount }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModify != null">
            and gmt_modify = #{gmtModify }
        </if>
        <if test=" userCreate != null">
            and user_create = #{userCreate }
        </if>
        <if test=" userModify != null">
            and user_modify = #{userModify }
        </if>
    </sql>

    <insert id="insert" parameterType="com.cuit.bbs.entity.Reply">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.cuit.bbs.entity.Reply">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.cuit.bbs.entity.Reply" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.cuit.bbs.entity.Reply" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.cuit.bbs.entity.Reply">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.cuit.bbs.entity.Reply" parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
</mapper>