<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.dao.TeamInviteDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bysj.entity.TeamInvite">
        <id column="id" property="id"/>
        <result column="team_id" property="teamId"/>
        <result column="user_id" property="userId"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
        <result column="user_create" property="userCreate"/>
        <result column="user_modify" property="userModify"/>
        <result column="state" property="state"/>
    </resultMap>
<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, team_id AS teamId, user_id AS userId, gmt_create AS gmtCreate, gmt_modify AS gmtModify, user_create AS userCreate, user_modify AS userModify, state
    </sql>

    <sql id="Table_Name">
        team_invite
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" teamId != null">
            team_id,
        </if>
        <if test=" userId != null">
            user_id,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModify != null">
            gmt_modify,
        </if>
        <if test=" userCreate != null">
            user_create,
        </if>
        <if test=" userModify != null">
            user_modify,
        </if>
        <if test=" state != null">
            state,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" teamId != null">
            #{teamId },
        </if>
        <if test=" userId != null">
            #{userId },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            #{gmtModify },
        </if>
        <if test=" userCreate != null">
            #{userCreate },
        </if>
        <if test=" userModify != null">
            #{userModify },
        </if>
        <if test=" state != null">
            #{state },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" teamId != null">
            team_id = #{teamId },
        </if>
        <if test=" userId != null">
            user_id = #{userId },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            gmt_modify = #{gmtModify },
        </if>
        <if test=" userCreate != null">
            user_create = #{userCreate },
        </if>
        <if test=" userModify != null">
            user_modify = #{userModify },
        </if>
        <if test=" state != null">
            state = #{state },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" teamId != null">
            and team_id = #{teamId }
        </if>
        <if test=" userId != null">
            and user_id = #{userId }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModify != null">
            and gmt_modify = #{gmtModify }
        </if>
        <if test=" userCreate != null">
            and user_create = #{userCreate }
        </if>
        <if test=" userModify != null">
            and user_modify = #{userModify }
        </if>
        <if test=" state != null">
            and state = #{state }
        </if>
    </sql>

    <insert id="insert" parameterType="com.bysj.entity.TeamInvite">
        insert into
        team_invite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.bysj.entity.TeamInvite">
        update
        team_invite
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>
    <update id="defuseInvite">
        update
          team_invite
        set
          state = 0,
          gmt_modify = #{gmtModify}
        where id = #{inviteId}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.bysj.entity.TeamInvite" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        team_invite
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        team_invite
        where id = #{id}
    </delete>
    <update id="deleteInvite" >
        update team_invite set state = 0 where team_id = #{teamId}
    </update>

    <select id="getByWhere" resultType="com.bysj.entity.TeamInvite" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        team_invite
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.bysj.entity.TeamInvite">
        select *
        from
        team_invite
    </select>


    <select id="findCount" resultType="int" parameterType="com.bysj.common.request.ObjectQuery">
        select count(1)
        from
        team_invite
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.bysj.entity.TeamInvite" parameterType="com.bysj.common.request.ObjectQuery">
        select * from
        team_invite
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="getMy" resultType="com.bysj.entity.vo.response.TeamInviteMResponse">
        select
        ti.id,
        ti.team_id as teamId,
        t.team_name as teamName,
        p.plate_name as plateName,
        t.member_count as teamCount,
        ti.gmt_create as gmtCreate
        from
          team_invite ti
          left JOIN  team t on ti.team_id = t.id
          left join plater p on t.plate_id = p.id
        where
          ti.user_id = #{userId}
          and ti.state = 1
    </select>
    <select id="getMyCount" resultType="java.lang.Integer">
        select count(1)
        from
          team_invite ti
          left JOIN  team t on ti.team_id = t.id
          left join plater p on t.plate_id = p.id
        where
          ti.user_id = #{userId}
          and ti.state = 1
    </select>
</mapper>