<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.dao.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bysj.entity.User">
        <id column="id" property="id"/>
        <result column="nickname" property="nickname"/>
        <result column="psw" property="psw"/>
        <result column="money" property="money"/>
        <result column="email" property="email"/>
        <result column="picture" property="picture"/>
        <result column="level" property="level"/>
        <result column="signa_ture" property="signaTure"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="state" property="state"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
        <result column="user_modify" property="userModify"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        nickname,
        psw,
        money,
        email,
        picture,
        level,
        signa_ture
        AS
        signaTure,
        sex,
        age,
        state,
        gmt_create,
        gmt_modify,
        user_modify
    </sql>

    <sql id="Table_Name">
        user
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" nickname != null">
            nickname,
        </if>
        <if test=" psw != null">
            psw,
        </if>
        <if test=" money != null">
            money,
        </if>
        <if test=" email != null">
            email,
        </if>
        <if test=" picture != null">
            picture,
        </if>
        <if test=" level != null">
            level,
        </if>
        <if test=" signaTure != null">
            signa_ture,
        </if>
        <if test=" sex != null">
            sex,
        </if>
        <if test=" age != null">
            age,
        </if>
        <if test="gmtCreate != null">
            gmt_create,
        </if>
        <if test="gmtModify != null">
            gmt_modify,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" nickname != null">
            #{nickname },
        </if>
        <if test=" psw != null">
            #{psw },
        </if>
        <if test=" money != null">
            #{money },
        </if>
        <if test=" email != null">
            #{email },
        </if>
        <if test=" picture != null">
            #{picture },
        </if>
        <if test=" level != null">
            #{level },
        </if>
        <if test=" signaTure != null">
            #{signaTure },
        </if>
        <if test=" sex != null">
            #{sex },
        </if>
        <if test=" age != null">
            #{age },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            #{gmtModify },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" nickname != null">
            nickname = #{nickname },
        </if>
        <if test=" psw != null">
            psw = #{psw },
        </if>
        <if test=" money != null">
            money = #{money },
        </if>
        <if test=" email != null">
            email = #{email },
        </if>
        <if test=" picture != null">
            picture = #{picture },
        </if>
        <if test=" level != null">
            level = #{level },
        </if>
        <if test=" signaTure != null">
            signa_ture = #{signaTure },
        </if>
        <if test=" sex != null">
            sex = #{sex },
        </if>
        <if test=" age != null">
            age = #{age },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            gmt_modify = #{gmtModify },
        </if>
        <if test=" userModify != null">
            user_modify = #{userModify },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" nickname != null">
            and nickname = #{nickname }
        </if>
        <if test=" psw != null">
            and psw = #{psw }
        </if>
        <if test=" money != null">
            and money = #{money }
        </if>
        <if test=" email != null">
            and email = #{email }
        </if>
        <if test=" picture != null">
            and picture = #{picture }
        </if>
        <if test=" level != null">
            and level = #{level }
        </if>
        <if test=" signaTure != null">
            and signa_ture = #{signaTure }
        </if>
        <if test=" sex != null">
            and sex = #{sex }
        </if>
        <if test=" age != null">
            and age = #{age }
        </if>
    </sql>

    <insert id="insert" parameterType="com.bysj.entity.User">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.bysj.entity.User">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <if test=" nickname != null">
                nickname = #{nickname },
            </if>
            <if test=" psw != null">
                psw = #{psw },
            </if>
            <if test=" money != null">
                money = #{money },
            </if>
            <if test=" email != null">
                email = #{email },
            </if>
            <if test=" picture != null">
                picture = #{picture },
            </if>
            <if test=" level != null">
                level = #{level },
            </if>
            <if test=" signaTure != null">
                signa_ture = #{signaTure },
            </if>
            <if test=" sex != null">
                sex = #{sex },
            </if>
            <if test=" age != null">
                age = #{age },
            </if>
            <if test=" gmtCreate != null">
                gmt_create = #{gmtCreate },
            </if>
            <if test=" gmtModify != null">
                gmt_modify = #{gmtModify },
            </if>
            <if test=" userModify != null">
                user_modify = #{userModify },
            </if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateUser">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test=" nickname != null">
                nickname = #{nickname },
            </if>
            <if test=" psw != null">
                psw = #{psw },
            </if>
            <if test=" signaTure != null">
                signa_ture = #{signaTure },
            </if>
            <if test=" sex != null">
                sex = #{sex },
            </if>
            <if test=" age != null">
                age = #{age },
            </if>
            <if test=" gmtModify != null">
                gmt_modify = #{gmtModify },
            </if>
            <if test=" userModify != null">
                user_modify = #{userModify },
            </if>
        </trim>
        where id = ${id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.bysj.entity.User" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>

    <!-- 根据主键查询 -->
    <select id="userDetailInfo" resultType="com.bysj.entity.vo.response.UserResponse" parameterType="java.lang.Integer">
        SELECT
            u.id,
            nickname,
            psw,
            money,
            email,
            picture,
            signa_ture   AS signaTure,
            sex,
            age,
            u.gmt_create as gmtCreate,
            (
                SELECT
                    count(fan_id)
                from
                    USER u
                        INNER JOIN follow f ON u.id = f.star_id
                WHERE
                    u.id = #{id}
            )            as fanCount,
            u.state
        FROM
            USER u
                LEFT JOIN plater p ON u.id = p.owner_id
        WHERE
            u.id = #{id}
        GROUP BY
            u.id
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.bysj.entity.User" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.bysj.entity.User">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.bysj.common.request.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.bysj.entity.User" parameterType="com.bysj.common.request.ObjectQuery">
        select
        *
        from
        user
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <select id="selectByemail" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user where email = "${email}"
    </select>

    <select id="selectUserPermissionBylevel" parameterType="Integer" resultType="String">
        SELECT permission
        from permission p
        where p.role_id = #{level}
    </select>
    <select id="findCountByLevel" resultType="java.lang.Integer"
            parameterType="com.bysj.entity.vo.query.UserQueryByLevel">
        select
            count(1)
        from user u
                 inner join plater p on u.id = p.owner_id
        where u.level = #{userLevel}
    </select>
    <select id="findUserByLevel" resultType="com.bysj.entity.vo.response.UserLevellResponse"
            parameterType="com.bysj.entity.vo.query.UserQueryByLevel">
        select
            nickname,
            email,
            `level`,
            u.gmt_create as userGmtCreate,
            plate_name   as plateName,
            p.gmt_create as platerGmtCreate
        from user u
                 inner join plater p on u.id = p.owner_id
        where u.level = #{userLevel}
    </select>
    <select id="findPageBanUser" resultType="com.bysj.entity.vo.response.UserBanResponse">
        SELECT
        u.email,
        u.nickname,
        u.gmt_create as gmtCreate,
        u.gmt_modify as gmtModify,
        u.ban_reason as banReason,
        uu.nickname as banUserName
        FROM
        USER u
        INNER JOIN USER uu ON u.user_modify = uu.id
        WHERE
        u.state = 0
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="findBanUserCount" resultType="java.lang.Integer">
        select
            count(1)
        from user
        where user.state = 0
    </select>

</mapper>