<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit.bbs.dao.UserBanDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cuit. bysj.UserBan">
        <id column="id" property="id"/>
        <result column="ban_user_id" property="banUserId"/>
        <result column="hand_user_id" property="handUserId"/>
        <result column="end_time" property="endTime"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
        <result column="user_modify" property="userModify"/>
    </resultMap>
<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ban_user_id AS banUserId, hand_user_id AS handUserId, end_time AS endTime, gmt_create AS gmtCreate, gmt_modify AS gmtModify, user_modify AS userModify
    </sql>

    <sql id="Table_Name">
        user_ban
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" banUserId != null">
            ban_user_id,
        </if>
        <if test=" handUserId != null">
            hand_user_id,
        </if>
        <if test=" endTime != null">
            end_time,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModify != null">
            gmt_modify,
        </if>
        <if test=" userModify != null">
            user_modify,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" banUserId != null">
            #{banUserId },
        </if>
        <if test=" handUserId != null">
            #{handUserId },
        </if>
        <if test=" endTime != null">
            #{endTime },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            #{gmtModify },
        </if>
        <if test=" userModify != null">
            #{userModify },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" banUserId != null">
            ban_user_id = #{banUserId },
        </if>
        <if test=" handUserId != null">
            hand_user_id = #{handUserId },
        </if>
        <if test=" endTime != null">
            end_time = #{endTime },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModify != null">
            gmt_modify = #{gmtModify },
        </if>
        <if test=" userModify != null">
            user_modify = #{userModify },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" banUserId != null">
            and ban_user_id = #{banUserId }
        </if>
        <if test=" handUserId != null">
            and hand_user_id = #{handUserId }
        </if>
        <if test=" endTime != null">
            and end_time = #{endTime }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModify != null">
            and gmt_modify = #{gmtModify }
        </if>
        <if test=" userModify != null">
            and user_modify = #{userModify }
        </if>
    </sql>

    <insert id="insert" parameterType="com.cuit. bysj.UserBan">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.cuit. bysj.UserBan">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.cuit. bysj.UserBan" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.cuit. bysj.UserBan" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.cuit. bysj.UserBan">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.bysj.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.cuit. bysj.UserBan" parameterType="com.bysj.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
</mapper>